{
    "sourceFile": ".env-example",
    "activeCommit": 0,
    "commits": [
        {
            "activePatchIndex": 0,
            "patches": [
                {
                    "date": 1631313453199,
                    "content": "Index: \n===================================================================\n--- \n+++ \n"
                }
            ],
            "date": 1631313453199,
            "name": "Commit-0",
            "content": "NEXT_PUBLIC_SITE_NAME=''\nNEXT_PUBLIC_LOGIN_URI=''\nNEXT_PUBLIC_API_URL=''\n\nNEXTAUTH_URL=''\nNEXT_AUTH_SECRET=''\nJWT_SIGNING_PRIVATE_KEY=''\n"
        }
    ]
}